<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sl.ehub.service.mapper.AggregatorDeviceDateDeliveryChartMapper">
    <resultMap id="BaseResultMap" type="cn.sl.ehub.service.vo.AggregatorDeviceDateDeliveryChart">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="aggregator_id" jdbcType="VARCHAR" property="aggregatorId"/>
        <result column="ent_id" jdbcType="VARCHAR" property="entId"/>
        <result column="station_id" jdbcType="VARCHAR" property="stationId"/>
        <result column="resource_type_id" jdbcType="VARCHAR" property="resourceTypeId"/>
        <result column="device_base_id" jdbcType="VARCHAR" property="deviceBaseId"/>
        <result column="date" jdbcType="VARCHAR" property="date"/>
        <result column="delivery_chart" jdbcType="VARCHAR" property="deliveryChart"/>
    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO aggregator_device_date_delivery_chart
        (aggregator_id, ent_id, station_id, resource_type_id, device_base_id, date, delivery_chart)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.aggregatorId},
            #{item.entId},
            #{item.stationId},
            #{item.resourceTypeId},
            #{item.deviceBaseId},
            #{item.date},
            #{item.deliveryChart}
            )
        </foreach>
    </insert>

    <select id="getApplyResourceType" resultType="java.lang.String">
        SELECT
            t2.`name`
        FROM
            aggregator_date_delivery_chart t1
                LEFT JOIN aggregator_resource_type t2 ON t1.resource_type_id = t2.id
        WHERE
            t1.aggregator_id = #{aggregatorId}
          AND t1.DATE = #{date}
        GROUP BY t1.resource_type_id
    </select>
</mapper>