<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sl.ehub.service.mapper.AggregatorCrChartMapper">
    <resultMap id="BaseResultMap" type="cn.sl.ehub.service.vo.AggregatorCrChart">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="aggregator_id" jdbcType="VARCHAR" property="aggregatorId"/>
        <result column="resource_type" jdbcType="VARCHAR" property="resourceType"/>
        <result column="cr_load_chart" jdbcType="VARCHAR" property="crLoadChart"/>
        <result column="cr_date" jdbcType="VARCHAR" property="crDate"/>
    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO aggregator_cr_chart
        (aggregator_id, resource_type, cr_date, cr_load_chart)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.aggregatorId},
            #{item.resourceType},
            #{item.crDate},
            #{item.crLoadChart}
            )
        </foreach>
    </insert>
</mapper>
