<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sl.ehub.service.mapper.ControlIssueConfigMapper">
  <resultMap id="BaseResultMap" type="cn.sl.ehub.service.vo.ControlIssueConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="issuable" jdbcType="VARCHAR" property="issuable" />
  </resultMap>
</mapper>