<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sl.ehub.service.mapper.GuangzhouAggregatorInvitePowerRemindMapper">
    <select id="getRemindByAccountNo" resultType="cn.sl.ehub.service.vo.GuangzhouAggregatorInvitePowerRemind">
        SELECT *
        FROM guangzhou_aggregator_invite_power_remind
        WHERE invite_id = #{inviteId}
          AND account_no = #{accountNo}
    </select>

    <update id="updateByAccountNo" parameterType="cn.sl.ehub.service.vo.GuangzhouAggregatorInvitePowerRemind">
        UPDATE guangzhou_aggregator_invite_power_remind
        <set>
            <if test="null != inviteId">invite_id = #{inviteId},</if>
            <if test="null != aggregatorId">aggregator_id = #{aggregatorId},</if>
            <if test="null != entId">ent_id = #{entId},</if>
            <if test="null != entName">ent_name = #{entName},</if>
            <if test="null != accountNo">account_no = #{accountNo},</if>
            <if test="null != accountName">account_name = #{accountName},</if>
            <if test="null != suggest">suggest = #{suggest},</if>
            <if test="null != content">content = #{content},</if>
            <if test="null != accountRate">account_rate = #{accountRate},</if>
            <if test="null != accountFinish">account_finish = #{accountFinish},</if>
            <if test="null != updateTime">update_time = #{updateTime}</if>
        </set>
        WHERE invite_id = #{inviteId}
        AND account_no = #{accountNo};
    </update>

    <select id="getListYesSuggest" resultType="cn.sl.ehub.service.vo.GuangzhouAggregatorInvitePowerRemind">
        SELECT ent_id, ent_name, account_no, account_name, account_rate, suggest
        FROM guangzhou_aggregator_invite_power_remind
        WHERE invite_id = #{inviteId}
          AND (account_rate &lt; 85 OR account_rate &gt; 120)
        ORDER BY account_rate;
    </select>

    <select id="getListNoSuggest" resultType="cn.sl.ehub.service.vo.GuangzhouAggregatorInvitePowerRemind">
        SELECT ent_id, ent_name, account_no, account_name, account_rate
        FROM guangzhou_aggregator_invite_power_remind
        WHERE invite_id = #{inviteId}
          AND (account_rate &lt; 85 OR account_rate &gt; 120)
        ORDER BY account_rate;
    </select>

    <select id="getById" resultType="cn.sl.ehub.service.vo.GuangzhouAggregatorInvitePowerRemind">
        SELECT *
        FROM guangzhou_aggregator_invite_power_remind
        WHERE id = #{remindId}
    </select>

    <select id="getByQuery" resultType="cn.sl.ehub.service.vo.GuangzhouAggregatorInvitePowerRemind">
        SELECT *
        FROM guangzhou_aggregator_invite_power_remind
        WHERE ent_id = #{entId}
          AND account_no = #{accountNo}
          AND update_time &gt; #{time}
        ORDER BY update_time DESC LIMIT 1;
    </select>

    <select id="getByQueryByRate" resultType="cn.sl.ehub.service.vo.GuangzhouAggregatorInvitePowerRemind">
        SELECT *
        FROM guangzhou_aggregator_invite_power_remind
        WHERE ent_id = #{entId}
          AND account_no = #{accountNo}
          AND update_time &gt; #{time}
          AND (account_rate &lt; 85 OR account_rate &gt; 120)
        ORDER BY update_time DESC LIMIT 1;
    </select>

    <select id="getByQueryList" resultType="cn.sl.ehub.service.vo.GuangzhouAggregatorInvitePowerRemind">
        SELECT remind.*
        FROM guangzhou_aggregator_invite_power_remind remind
        WHERE (SELECT count(*) FROM guangzhou_aggregator_invite_power_remind WHERE account_no = remind.account_no AND
        update_time &gt; remind.update_time) &lt; 1 AND ent_id = #{entId} AND account_no IN
        <foreach item="item" collection="accountNoList" separator="," open="(" close=")" index="">#{item}
        </foreach>
        AND update_time &gt; #{time}
    </select>
</mapper>