<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sl.ehub.service.mapper.GuangzhouAggregatorTokenMapper">
  <resultMap id="BaseResultMap" type="cn.sl.ehub.service.vo.GuangzhouAggregatorToken">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_key" jdbcType="VARCHAR" property="appKey" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="timestamp" jdbcType="BIGINT" property="timestamp" />
    <result column="response_code" jdbcType="VARCHAR" property="responseCode" />
    <result column="response_message" jdbcType="VARCHAR" property="responseMessage" />
    <result column="response_data" jdbcType="VARCHAR" property="responseData" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>