<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sl.ehub.service.mapper.GuangzhouAggregatorBidMapper">
  <resultMap id="BaseResultMap" type="cn.sl.ehub.service.vo.GuangzhouAggregatorBid">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="order_time" jdbcType="BIGINT" property="orderTime" />
    <result column="employ_begin_time" jdbcType="BIGINT" property="employBeginTime" />
    <result column="employ_end_time" jdbcType="BIGINT" property="employEndTime" />
    <result column="employ_value" jdbcType="DOUBLE" property="employValue" />
    <result column="response_code" jdbcType="VARCHAR" property="responseCode" />
    <result column="response_message" jdbcType="VARCHAR" property="responseMessage" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>