<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sl.ehub.service.mapper.GuangzhouAggregatorInvitePowerRemindSumMapper">
    <select id="getByInviteId" resultType="cn.sl.ehub.service.vo.GuangzhouAggregatorInvitePowerRemindSum">
        SELECT * FROM guangzhou_aggregator_invite_power_remind_sum WHERE invite_id = #{inviteId}
    </select>

    <update id="updateByInviteId" parameterType="cn.sl.ehub.service.vo.GuangzhouAggregatorInvitePowerRemindSum">
        UPDATE guangzhou_aggregator_invite_power_remind_sum
        <set>
            <if test="null != inviteId">invite_id = #{inviteId},</if>
            <if test="null != inviteStartTime">invite_start_time = #{inviteStartTime},</if>
            <if test="null != inviteEndTime">invite_end_time = #{inviteEndTime},</if>
            <if test="null != inviteTimeName">invite_time_name = #{inviteTimeName},</if>
            <if test="null != changePower">change_power = #{changePower},</if>
            <if test="null != rate">rate = #{rate},</if>
            <if test="null != finish">finish = #{finish},</if>
            <if test="null != updateTime">update_time = #{updateTime}</if>
        </set>
        WHERE invite_id = #{inviteId};
    </update>
</mapper>