<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sl.ehub.service.mapper.IotTelemetryMinuteMapper">

  <insert id="upsertMinute" parameterType="cn.sl.ehub.service.vo.IotTelemetryMinute">
    INSERT INTO iot_telemetry_minute (
      aggregator_id, ent_id, project_id, device_id, device_code, point_code,
      data_time, minute_time, point_value, unit, quality,
      source_code, receive_time, raw_value
    ) VALUES (
      #{aggregatorId}, #{entId}, #{projectId}, #{deviceId}, #{deviceCode}, #{pointCode},
      #{dataTime}, #{minuteTime}, #{pointValue}, #{unit}, #{quality},
      #{sourceCode}, #{receiveTime}, #{rawValue}
    )
    ON DUPLICATE KEY UPDATE
      aggregator_id = VALUES(aggregator_id),
      ent_id = VALUES(ent_id),
      project_id = VALUES(project_id),
      device_code = VALUES(device_code),
      data_time = VALUES(data_time),
      point_value = VALUES(point_value),
      unit = VALUES(unit),
      quality = VALUES(quality),
      source_code = VALUES(source_code),
      receive_time = VALUES(receive_time),
      raw_value = VALUES(raw_value)
  </insert>

  <select id="sumPointValueByMinute" resultType="cn.sl.ehub.common.vo.DataResp">
    SELECT
      DATE_FORMAT(minute_time, '%Y-%m-%d %H:%i') AS time,
      ROUND(SUM(IFNULL(point_value, 0)), 2) AS value
    FROM iot_telemetry_minute
    WHERE aggregator_id = #{aggregatorId}
      AND point_code = #{pointCode}
      AND minute_time <![CDATA[ >= ]]> #{startTime}
      AND minute_time <![CDATA[ <= ]]> #{endTime}
      <choose>
        <when test="deviceIds != null and deviceIds.size() > 0 and deviceCodes != null and deviceCodes.size() > 0">
          AND (
            device_id IN
            <foreach collection="deviceIds" item="deviceId" open="(" separator="," close=")">
              #{deviceId}
            </foreach>
            OR device_code IN
            <foreach collection="deviceCodes" item="deviceCode" open="(" separator="," close=")">
              #{deviceCode}
            </foreach>
          )
        </when>
        <when test="deviceIds != null and deviceIds.size() > 0">
          AND device_id IN
          <foreach collection="deviceIds" item="deviceId" open="(" separator="," close=")">
            #{deviceId}
          </foreach>
        </when>
        <when test="deviceCodes != null and deviceCodes.size() > 0">
          AND device_code IN
          <foreach collection="deviceCodes" item="deviceCode" open="(" separator="," close=")">
            #{deviceCode}
          </foreach>
        </when>
        <otherwise>
          AND 1 = 0
        </otherwise>
      </choose>
    GROUP BY minute_time
    ORDER BY minute_time
  </select>

</mapper>
