<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sl.ehub.service.mapper.TariffAgentPriceMapper">

  <select id="selectVersions" resultType="java.lang.String">
    SELECT DISTINCT p.version
    FROM e_agent_price p
    WHERE p.del_flag = '0'
      AND p.version IS NOT NULL
      AND p.version != ''
    ORDER BY p.version DESC
  </select>

  <select id="selectVersionOptions" resultType="cn.sl.ehub.service.dto.tariff.AgentPriceVersionResp">
    SELECT
      p.version AS version,
      p.province_code AS provinceCode,
      MAX(p.province_name) AS provinceName
    FROM e_agent_price p
    WHERE p.del_flag = '0'
      AND p.version IS NOT NULL
      AND p.version != ''
    <if test="provinceCode != null and provinceCode != ''">
      AND p.province_code = #{provinceCode}
    </if>
    <if test="version != null and version != ''">
      AND p.version = #{version}
    </if>
    GROUP BY p.version, p.province_code
    ORDER BY p.version DESC, p.province_code
  </select>

  <sql id="agentPriceWhere">
    <if test="req.provinceCode != null and req.provinceCode != ''">
      AND p.province_code = #{req.provinceCode}
    </if>
    <if test="req.secondType != null and req.secondType != ''">
      AND p.second_type = #{req.secondType}
    </if>
    <if test="req.thirdType != null and req.thirdType != ''">
      AND p.third_type = #{req.thirdType}
    </if>
    <if test="req.dyLevel != null and req.dyLevel != ''">
      AND p.dy_level = #{req.dyLevel}
    </if>
    <if test="req.yearMonth != null and req.yearMonth != ''">
      AND p.version = #{req.yearMonth}
    </if>
    <if test="req.userType != null and req.userType != ''">
      AND p.user_type = #{req.userType}
    </if>
    <if test="req.sfType != null and req.sfType != ''">
      AND p.other_type = #{req.sfType}
    </if>
  </sql>

  <sql id="agentPriceAreaWhere">
    <if test="req.provinceCode != null and req.provinceCode != ''">
      AND p.province_code = #{req.provinceCode}
    </if>
    <if test="req.secondType != null and req.secondType != ''">
      AND p.second_type = #{req.secondType}
    </if>
    <if test="req.thirdType != null and req.thirdType != ''">
      AND p.third_type = #{req.thirdType}
    </if>
    <if test="req.yearMonth != null and req.yearMonth != ''">
      AND p.version = #{req.yearMonth}
    </if>
  </sql>

  <select id="selectFpgjData" resultType="cn.sl.ehub.service.dto.tariff.FpgjPointResp">
    SELECT
      d.fpgj_type AS fgvalue,
      d.biz_time AS bizTime
    FROM e_fpgj_type t
    INNER JOIN e_fpgj_type_data d ON t.id = d.en_fpgj_type_id
    WHERE t.del_flag = '0'
      AND d.del_flag = '0'
    <if test="req.provinceCode != null and req.provinceCode != ''">
      AND t.province_code = #{req.provinceCode}
    </if>
    <if test="req.secondType != null and req.secondType != ''">
      AND t.second_type = #{req.secondType}
    </if>
    <if test="req.yearMonth != null and req.yearMonth != ''">
      AND t.version = #{req.yearMonth}
    </if>
    ORDER BY d.biz_time
  </select>

  <select id="selectAgentPriceData" resultType="java.math.BigDecimal">
    SELECT d.price
    FROM e_agent_price p
    INNER JOIN e_agent_price_data d ON p.id = d.en_agent_price_id
    WHERE p.del_flag = '0'
      AND d.del_flag = '0'
    <include refid="agentPriceWhere"/>
    <if test="req.priceType != null and req.priceType != ''">
      AND p.price_type LIKE CONCAT('%', #{req.priceType}, '%')
    </if>
    ORDER BY d.biz_time
  </select>

  <select id="selectAgentPricePointData" resultType="cn.sl.ehub.service.dto.tariff.AgentPriceValuePointResp">
    SELECT
      d.biz_time AS bizTime,
      d.price AS price
    FROM e_agent_price p
    INNER JOIN e_agent_price_data d ON p.id = d.en_agent_price_id
    WHERE p.del_flag = '0'
      AND d.del_flag = '0'
    <include refid="agentPriceWhere"/>
    <if test="req.priceType != null and req.priceType != ''">
      AND p.price_type LIKE CONCAT('%', #{req.priceType}, '%')
    </if>
    ORDER BY d.biz_time
  </select>

  <select id="selectAgentPriceHeader" resultType="cn.sl.ehub.service.dto.tariff.AgentPriceHeaderResp">
    SELECT
      p.province_name AS provinceName,
      p.capacity_electricity_price AS capacityElectricityPrice,
      p.demand_electricity_price AS demandElectricityPrice
    FROM e_agent_price p
    WHERE p.del_flag = '0'
    <include refid="agentPriceWhere"/>
    ORDER BY p.id
    LIMIT 1
  </select>

  <select id="selectAreaOptions" resultType="cn.sl.ehub.service.dto.tariff.AgentPriceAreaOption">
    SELECT
      p.province_code AS provinceCode,
      MAX(p.province_name) AS provinceName,
      p.second_type AS secondType,
      p.third_type AS thirdType
    FROM e_agent_price p
    WHERE p.del_flag = '0'
    <if test="version != null and version != ''">
      AND p.version = #{version}
    </if>
    GROUP BY p.province_code, p.second_type, p.third_type
    ORDER BY p.province_code, p.second_type, p.third_type
  </select>

  <select id="selectUserTypes" resultType="java.lang.String">
    SELECT DISTINCT p.user_type
    FROM e_agent_price p
    WHERE p.del_flag = '0'
      AND p.user_type IS NOT NULL
      AND p.user_type != ''
    <include refid="agentPriceAreaWhere"/>
    ORDER BY p.user_type
  </select>

  <select id="selectSfTypes" resultType="java.lang.String">
    SELECT DISTINCT p.other_type
    FROM e_agent_price p
    WHERE p.del_flag = '0'
      AND p.other_type IS NOT NULL
      AND p.other_type != ''
    <include refid="agentPriceAreaWhere"/>
    <if test="req.userType != null and req.userType != ''">
      AND p.user_type = #{req.userType}
    </if>
    ORDER BY p.other_type
  </select>

  <select id="selectDyLevels" resultType="java.lang.String">
    SELECT DISTINCT p.dy_level
    FROM e_agent_price p
    WHERE p.del_flag = '0'
      AND p.dy_level IS NOT NULL
      AND p.dy_level != ''
    <include refid="agentPriceAreaWhere"/>
    <if test="req.userType != null and req.userType != ''">
      AND p.user_type = #{req.userType}
    </if>
    <if test="req.sfType != null and req.sfType != ''">
      AND p.other_type = #{req.sfType}
    </if>
    ORDER BY p.dy_level
  </select>

  <select id="selectSourceDocument" resultType="cn.sl.ehub.service.dto.tariff.AgentPriceSourceResp">
    SELECT
      d.source_type AS sourceType,
      d.source_name AS sourceName,
      d.source_url AS sourceUrl,
      d.source_file_name AS sourceFileName,
      d.source_file_hash AS sourceFileHash,
      d.batch_no AS importBatchNo,
      d.document_title AS documentTitle,
      d.document_no AS documentNo,
      DATE_FORMAT(d.publish_time, '%Y-%m-%d %H:%i:%s') AS publishTime,
      DATE_FORMAT(d.effective_start, '%Y-%m-%d') AS effectiveStart,
      DATE_FORMAT(d.effective_end, '%Y-%m-%d') AS effectiveEnd
    FROM tariff_source_document d
    WHERE d.status = 'PUBLISHED'
    <if test="req.provinceCode != null and req.provinceCode != ''">
      AND d.province_code = #{req.provinceCode}
    </if>
    <if test="req.yearMonth != null and req.yearMonth != ''">
      AND d.version = #{req.yearMonth}
    </if>
    ORDER BY d.publish_time DESC, d.update_time DESC, d.id DESC
    LIMIT 1
  </select>

  <select id="selectSourceImportBatch" resultType="cn.sl.ehub.service.dto.tariff.AgentPriceSourceResp">
    SELECT
      b.source_type AS sourceType,
      b.source_name AS sourceName,
      b.source_url AS sourceUrl,
      b.source_file_name AS sourceFileName,
      b.batch_no AS importBatchNo,
      DATE_FORMAT(b.publish_time, '%Y-%m-%d %H:%i:%s') AS publishTime
    FROM tariff_import_batch b
    WHERE 1 = 1
    <if test="req.provinceCode != null and req.provinceCode != ''">
      AND b.province_code = #{req.provinceCode}
    </if>
    <if test="req.yearMonth != null and req.yearMonth != ''">
      AND b.version = #{req.yearMonth}
    </if>
    ORDER BY b.publish_time DESC, b.update_time DESC, b.id DESC
    LIMIT 1
  </select>

  <select id="selectSourceConfigFallback" resultType="cn.sl.ehub.service.dto.tariff.AgentPriceSourceResp">
    SELECT
      c.source_type AS sourceType,
      c.source_name AS sourceName,
      c.source_url AS sourceUrl
    FROM tariff_source_config c
    WHERE c.enabled = 1
    <if test="req.provinceCode != null and req.provinceCode != ''">
      AND (c.province_code = #{req.provinceCode} OR c.province_code = '000000')
    </if>
    ORDER BY CASE WHEN c.province_code = #{req.provinceCode} THEN 0 ELSE 1 END, c.id DESC
    LIMIT 1
  </select>

  <delete id="deleteAgentPriceDataByScope">
    DELETE d
    FROM e_agent_price_data d
    INNER JOIN e_agent_price p ON p.id = d.en_agent_price_id
    WHERE p.version = #{version}
      AND p.province_code = #{provinceCode}
      AND p.second_type = #{secondType}
      AND p.third_type = #{thirdType}
  </delete>

  <delete id="deleteAgentPricesByScope">
    DELETE FROM e_agent_price
    WHERE version = #{version}
      AND province_code = #{provinceCode}
      AND second_type = #{secondType}
      AND third_type = #{thirdType}
  </delete>

  <sql id="agentPriceRowMatch">
    p.dy_level = #{item.dyLevel}
    AND p.user_type = #{item.userType}
    AND p.other_type = #{item.sfType}
    AND p.price_type = #{item.priceType}
  </sql>

  <delete id="deleteAgentPriceDataByPriceRows">
    DELETE d
    FROM e_agent_price_data d
    INNER JOIN e_agent_price p ON p.id = d.en_agent_price_id
    WHERE p.version = #{version}
      AND p.province_code = #{provinceCode}
      AND p.second_type = #{secondType}
      AND p.third_type = #{thirdType}
      AND (
      <foreach collection="list" item="item" separator=" OR ">
        (<include refid="agentPriceRowMatch"/>)
      </foreach>
      )
  </delete>

  <delete id="deleteAgentPricesByPriceRows">
    DELETE p
    FROM e_agent_price p
    WHERE p.version = #{version}
      AND p.province_code = #{provinceCode}
      AND p.second_type = #{secondType}
      AND p.third_type = #{thirdType}
      AND (
      <foreach collection="list" item="item" separator=" OR ">
        (<include refid="agentPriceRowMatch"/>)
      </foreach>
      )
  </delete>

  <delete id="deleteFpgjTypeDataByScope">
    DELETE d
    FROM e_fpgj_type_data d
    INNER JOIN e_fpgj_type t ON t.id = d.en_fpgj_type_id
    WHERE t.version = #{version}
      AND t.province_code = #{provinceCode}
      AND t.second_type = #{secondType}
  </delete>

  <delete id="deleteFpgjTypesByScope">
    DELETE FROM e_fpgj_type
    WHERE version = #{version}
      AND province_code = #{provinceCode}
      AND second_type = #{secondType}
  </delete>

  <select id="countAgentPricesBySecondScope" resultType="int">
    SELECT COUNT(1)
    FROM e_agent_price
    WHERE del_flag = '0'
      AND version = #{version}
      AND province_code = #{provinceCode}
      AND second_type = #{secondType}
  </select>

  <insert id="insertFpgjType">
    INSERT INTO e_fpgj_type (
      id,
      version,
      province_code,
      province_name,
      second_type,
      create_by,
      create_date,
      del_flag
    ) VALUES (
      #{row.id},
      #{row.version},
      #{row.provinceCode},
      #{row.provinceName},
      #{row.secondType},
      #{row.createBy},
      NOW(),
      '0'
    )
  </insert>

  <insert id="batchInsertFpgjTypeData">
    INSERT INTO e_fpgj_type_data (
      en_fpgj_type_id,
      biz_time,
      fpgj_type,
      del_flag
    ) VALUES
    <foreach collection="list" item="item" separator=",">
      (
        #{item.fpgjTypeId},
        #{item.bizTime},
        #{item.fpgjType},
        '0'
      )
    </foreach>
  </insert>

  <insert id="batchInsertAgentPrice">
    INSERT INTO e_agent_price (
      id,
      version,
      province_code,
      province_name,
      second_type,
      third_type,
      dy_level,
      user_type,
      other_type,
      price_type,
      create_by,
      create_date,
      del_flag,
      capacity_electricity_price,
      demand_electricity_price
    ) VALUES
    <foreach collection="list" item="item" separator=",">
      (
        #{item.id},
        #{item.version},
        #{item.provinceCode},
        #{item.provinceName},
        #{item.secondType},
        #{item.thirdType},
        #{item.dyLevel},
        #{item.userType},
        #{item.otherType},
        #{item.priceType},
        #{item.createBy},
        NOW(),
        '0',
        #{item.capacityElectricityPrice},
        #{item.demandElectricityPrice}
      )
    </foreach>
  </insert>

  <insert id="batchInsertAgentPriceData">
    INSERT INTO e_agent_price_data (
      en_agent_price_id,
      biz_time,
      price,
      del_flag
    ) VALUES
    <foreach collection="list" item="item" separator=",">
      (
        #{item.agentPriceId},
        #{item.bizTime},
        #{item.price},
        '0'
      )
    </foreach>
  </insert>

  <select id="selectAgentPriceRowsByScope" resultType="cn.sl.ehub.service.dto.tariff.TariffAgentPriceStoredRow">
    SELECT
      p.id AS id,
      p.user_type AS userType,
      p.dy_level AS dyLevel,
      p.other_type AS otherType,
      p.price_type AS priceType,
      p.capacity_electricity_price AS capacityElectricityPrice,
      p.demand_electricity_price AS demandElectricityPrice
    FROM e_agent_price p
    WHERE p.del_flag = '0'
      AND p.version = #{version}
      AND p.province_code = #{provinceCode}
      AND p.second_type = #{secondType}
      AND p.third_type = #{thirdType}
    ORDER BY p.user_type, p.other_type, p.dy_level, p.price_type, p.id
  </select>

  <select id="selectAgentPricePointsByScope" resultType="cn.sl.ehub.service.dto.tariff.TariffAgentPriceStoredPoint">
    SELECT
      d.en_agent_price_id AS agentPriceId,
      d.biz_time AS bizTime,
      d.price AS price
    FROM e_agent_price p
    INNER JOIN e_agent_price_data d ON p.id = d.en_agent_price_id
    WHERE p.del_flag = '0'
      AND d.del_flag = '0'
      AND p.version = #{version}
      AND p.province_code = #{provinceCode}
      AND p.second_type = #{secondType}
      AND p.third_type = #{thirdType}
    ORDER BY d.en_agent_price_id,
      CAST(SUBSTRING_INDEX(d.biz_time, ':', 1) AS UNSIGNED),
      CAST(SUBSTRING_INDEX(d.biz_time, ':', -1) AS UNSIGNED)
  </select>

</mapper>
